.footer{
    padding: 2rem 6rem 2rem 6rem;
    color: gray;
}

.upperDiv{
    display: grid;
    grid-template-columns: auto auto auto auto auto;
}
.lowerDiv{
    display: grid;
    grid-template-columns: auto auto auto auto auto;
}

.footer{
    display: flex;
    flex-direction: column;
    gap: 2rem;
}

.linksCont{
    display: flex;
    flex-direction: column;
    gap: 2rem;
}

.header{
    font-size: large;
    font-weight: bold;
    display: grid;
    grid-template-columns: auto auto auto auto auto;
    padding-top: 2rem;
}

.links{
    display: flex;
    flex-direction: column;
    gap: 1rem;
    padding-top: 2rem;
}

.linkIcons{
    display: grid;
    grid-template-columns: auto auto auto auto;
    gap: 2rem;
    padding-top: 2rem;
    font-size: 1.3rem;
}

.separator{
    width: 1200px;
    height: 1px;
    background-color: gray;
    margin-top: 4rem;
}

.bottomPart{
    text-align: center;
}