.container{
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 1rem;
    color: #363636;
}

.leftContainer{
    display: flex;
    align-tems: center;
    gap: 1rem;
}

.navLists{
    display: flex;
    align-tems: center;
    gap: 1rem;
}

.navList{
    display: flex;
    align-items: center;
}

.beginnerZoneButton{
    display: flex;
    align-items: center;
    height: 1rem;
    border: none;
    background-color: rgba(239, 226, 161, .5);
    border-radius: .5rem;
    padding:1rem;
    color: rgba(138, 117, 8, 1);
    text-align: center;
    font-size: .9rem;
    cursor: pointer;
}

.logoAlign {
    display: flex;
    align-items: center;
    gap: 1rem;
}

.gridAlign{
    align-items: center;
    height: inherit;
    cursor: pointer;
}

.logo{
    position: relative;
    top: -2px;                
}

.navListAlign{
    display: flex;
    align-items: center;
    gap: 1rem;
}


.rightContainer{
    display: flex;
    align-items: center;
    gap: 1rem;
    color: #363636;
}

.logInButton{
    background-color: #D9D9D9;
    color: #363636;
    padding: .5rem 1rem .5rem 1rem;
    border-radius: 6px;
}

.signUpButton{
     background-color:rgba(138, 117, 8, 1);
    color: white;
    padding: .5rem 1rem .5rem 1rem;
    border-radius: 6px;
}

.mouseOverContGridIcon{
    display: grid;
    position: absolute;
    max-width: 800px;
    top: 5rem;
    padding: 2rem 8rem 2rem 2rem;
    background: var(--primary-color);
    grid-template-columns: auto auto;
    gap: 2rem 6rem;
    border-radius: 10px;
    box-shadow: 0px 0px 5px rgba(0, 0, 0, 0.3);
}
.mouseOverContBuyCrypto{
    display: flex;
    flex-direction: column;
    gap: 2rem;
    position: absolute;
    max-width: 800px;
    top: 5rem;
    padding: 2rem 8rem 2rem 2rem;
    background: var(--primary-color);
    gap: 2rem 6rem;
    border-radius: 10px;
    box-shadow: 0px 0px 5px rgba(0, 0, 0, 0.3);
}
.mouseOverContTrade{
    display: flex;
    flex-direction: column;
    gap: 2rem;
    position: absolute;
    max-width: 800px;
    top: 5rem;
    padding: 2rem 8rem 2rem 2rem;
    background: var(--primary-color);
    gap: 2rem 6rem;
    border-radius: 10px;
    box-shadow: 0px 0px 5px rgba(0, 0, 0, 0.3);
}


.TextOverDiv{
    display: flex;
    flex-direction: column;
    gap: .5rem;
}

.overPara{
    font-size: .9rem;
    font-weight: regular;
}

.overHead{
    font-weight: bold;
}

.mouseOverElement {
    display: flex;
    align-items: center;
    gap: 1rem;
}


.itemIcon{
    background: #D9D9D9;
    height: 2rem;
    min-width: 2rem;
    border-radius: 10px;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 1.5rem;
    color: green;
}

