:root{
  --primary-color: rgb(255, 239, 130);
  --secondary-color: rgb(239, 211, 69);
  --accent-color: rgb(186, 189, 66);
  --tertiary-color:rgb(130, 149, 75);
}

a{
    text-decoration: none;
}

li {
    list-style: none;
}